.card{
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:1vh 0;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: calc(100vw / 6 - 25px );
    height: calc(15vw);
    background-color: rgba(184, 184, 184, .2);
    box-shadow: -2px 2px 5px rgb(206, 78, 195), 2px -2px 5px rgb(0, 187, 213);
  }

.divImg{
    margin: auto;
    max-width: 90%;
    max-height: 50%;
    overflow: hidden;
    display: flex; 
    justify-content: center; 
    align-items: top;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
}

.divImg img{
    border-radius: 10px;
    object-position: center;
    width: auto;
    height: 100%;
}

.divName{
    height: 30%;
    overflow: hidden;
    margin-bottom: 10px;
}
.divName div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divName div h3{
    margin:0;
    font-size: 1vw;
}

.divName div button{
    overflow: hidden;
    width: 5vw;
    margin:5px;
    font-size: 0.8vw;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    box-shadow: -3px 2px rgb(0, 187, 213), 2px -2px rgb(206, 78, 195);
}